<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<appender name="FILE_INFO"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<File>${user.dir}/logs/info.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${user.dir}/logs/info.%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>3</MaxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="FILE_DEBUG"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<File>${user.dir}/logs/debug.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${user.dir}/logs/debug.%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>3</MaxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="FILE_ERROR"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<File>${user.dir}/logs/error.log</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${user.dir}/logs/error.%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>3</MaxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<!--        <appender-ref ref="FILE_INFO"/>-->
		<!--        <appender-ref ref="FILE_DEBUG"/>-->
		<!--        <appender-ref ref="FILE_ERROR"/>-->
	</root>
	<!-- 开发环境&单元测试 -->
	<springProfile name="dev,unit">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>
	<!-- 生产环境 -->
	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="FILE_INFO"/>
			<appender-ref ref="FILE_DEBUG"/>
			<appender-ref ref="FILE_ERROR"/>
		</root>
	</springProfile>
	<!-- 测试环境 -->
	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="FILE_INFO"/>
			<appender-ref ref="FILE_DEBUG"/>
			<appender-ref ref="FILE_ERROR"/>
		</root>
	</springProfile>
</included>
