<settings>
    <localRepository>D:/mavendir</localRepository>
    <!-- servers
     | This is a list of authentication profiles, keyed by the server-id used within the system.
     | Authentication profiles can be used whenever maven must make a connection to a remote server.
     |-->
    <servers>
        <server>
            <id>oss</id>
            <username>jchanghong</username>
            <password>!b58r5gsHu*0</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>aliyun_public</id>
            <repositories>
                <repository>
                    <id>aliyun_public</id>
                    <name>aliyun_public</name>
                    <url>https://maven.aliyun.com/repository/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>aliyun_public</id>
                    <name>aliyun_public</name>
                    <url>https://maven.aliyun.com/repository/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>


    </profiles>

    <activeProfiles>
        <activeProfile>aliyun_public</activeProfile>
    </activeProfiles>

    <pluginGroups>
        <pluginGroup>org.eclipse.jetty</pluginGroup>
    </pluginGroups>

</settings>
