<settings>
	<localRepository>D:/mavendir</localRepository>
	<!-- servers
	 | This is a list of authentication profiles, keyed by the server-id used within the system.
	 | Authentication profiles can be used whenever maven must make a connection to a remote server.
	 |-->
	<servers>
		<server>
			<id>PBG-release</id>
			<username>maven-pbg-cm</username>
			<password>helloworld</password>
		</server>
		<server>
			<id>PBG-snapshot</id>
			<username>maven-pbg</username>
			<password>helloworld</password>
		</server>
		<server>
			<id>maven-down</id>
			<username>maven-down</username>
			<password>maven-down</password>
		</server>
		<server>
			<id>oss</id>
			<username>jchanghong</username>
			<password>!b58r5gsHu*0</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>aliyun_public</id>
			<repositories>
				<repository>
					<id>aliyun_public</id>
					<name>aliyun_public</name>
					<url>https://maven.aliyun.com/repository/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>aliyun_public</id>
					<name>aliyun_public</name>
					<url>https://maven.aliyun.com/repository/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>maven-down</id>
			<repositories>
				<repository>
					<id>maven-down</id>
					<name>maven-down</name>
					<url>http://af.hikvision.com.cn:80/artifactory/maven-down/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>maven-down</id>
					<name>maven-down</name>
					<url>http://af.hikvision.com.cn:80/artifactory/maven-down/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

	</profiles>

	<activeProfiles>
		<activeProfile>aliyun_public</activeProfile>
		<activeProfile>maven-down</activeProfile>
	</activeProfiles>

	<pluginGroups>
		<pluginGroup>org.eclipse.jetty</pluginGroup>
	</pluginGroups>

</settings>
